/* Globals */

* {
    box-sizing: border-box;
}

html body .btn-leave {
    background: #b5b5b5;
}

html body .btn-leave:hover, html body .btn-leave:focus {
    background: #999;
}

body .btn:hover, .btn:focus {
    background: #bfe498;
}

body table {
    margin: 65px auto 0;
}

body table.table td {
    border-radius: 0px;
    margin: 5px;
    padding: 20px;
}

html hr {
border:1px solid #eee;
}
body table.table th {
    border-radius: 0;
}

body ul {
    margin: 0;
}

body ul li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}


body .btn, .btn-primary.btn-block, body input[type=submit].btn {
    background: #99c261;
    border: 0;
    border-radius: 50px;
    color: #fff;
    margin: 5px 0;
    padding: 8px 12px;
    transition: background-color 0.25s ease;
}

/* Actions */

.is-disabled, .post.is-liking .actions .like-button, .post.is-liked .actions .like-button {
    cursor: not-allowed;
    pointer-events: none;
}

.post .actions .like-button:after {
    content: "Like Memo";
}

.post.is-liked .actions .like-button {
    background-color: rgba(0,0,0,0.2);
}

.post.is-liked .actions .like-button:after {
    content: "👍 Liked Memo!";
}

.post.is-liking .actions .like-button {
    background-color: rgba(84,141,29,0.75);
}

.post.is-liking .actions .like-button:after {
    content: "⌛ Liking Memo...";
}

/* Inputs */

body #profile-search {
    background: #eee;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    height: 45px;
    margin: 5px auto 0;
    max-width: 100%;
    padding: 5px 10px;
    text-align: center;
    width: 600px;
}

body label[for=profile-search] {
    display: block;
    margin: 0;
}

body textarea, input[type=text], input[type=password] {
    background: #eee;
    border: 0;
    border-radius: 0;
    padding: 5px 10px;
    font-size: 19px;
    line-height: 1.4;
}

body input[type=text], body input[type=password] {
    background: #eee;
    border: 0;
    border-radius: 0;
    height: 35px;
}

body #form-signup {
    padding: 10px 0;
}

/* Navigation */

body > div.header > div > a:nth-child(4) {
    background: none;
    color: #618b32;
    position: absolute;
    right: 95px;
    top: 0;
}

body > div.header > div > a:nth-child(4):hover, body > div.header > div > a:nth-child(5):hover {
    color: #222;
}

body > div.header > div > a:nth-child(5) {
    background: none;
    color: #618b32;
    position: absolute;
    right: 0;
    top: 0;
}

html a[href="logout"] {
  position:absolute;
  top:2px;
  background:#b5b5b5;
  left:5px;
  position:absolute;
}

/* Post and Profile */


body #profile-list {
    align-item: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

body #profile-list .btn {
    background: #c2c2c2;
    border-radius: 3px;
    color: white;
    height: 150px;
    line-height: 150px;
    margin: 2px;
    padding: 5px;
    text-align: center;
    width: 211px;
    word-break: break-all;
}

body #profile-list .btn:hover, body #profile-list .btn:focus {
    background: #777;
}

body #profile-list p {
    margin: 0;
}

body .header h1 {
    display: block;
    margin: 15px 0;
    text-align: center;
}

body .header, body {
    text-align: center;
}

body .message {
    font-family: helvetica, arial, sans-serif;
    font-size: 21px;
    line-height: 1.3;
    padding: 5px 10px;
}

html .post {
    margin: 20px auto ;
    box-shadow: none;
    border: 1px solid #ddd;
    background: #eee;
    border-radius: 4px;
    max-width: 888px;
    text-align: left;
    margin: 25px auto;
}

body .post .btn-leave {
    float: right;
 }

body .post .actions {
    margin: 10px;
}

body .post .likes {
    margin: 10px;
}

body .message a {
    color: #a1c16d;
}

body .post {
    padding: 0;
}

body .post .name {
    background: #fff;
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 10px;
    color: #222
      ;
}

body > p:nth-child(9) > a.btn:nth-child(2) {
    display: block;
    width: 400px;
    margin: 10px auto;
    background: #618b32;
    position:absolute;
    top:175px;
    left:50%;
    margin-left:-200px;
}

body > p:nth-child(9) > a.btn:nth-child(1) {
    display: block;
    width: 400px;
    margin: 10px auto;
    background: #888;
}

html a[href="key/change-password"], html a[href="key/export"], html a[href="memo/set-name"] {
  background:#fff;
  border:1px solid #888;
  color:#888;
}

html a[href="key/change-password"]:hover, html a[href="key/export"]:hover, html a[href="memo/set-name"]:hover, html a[href="key/change-password"]:focus, html a[href="key/export"]:focus, html a[href="memo/set-name"]:focus {
  background:#fff;
  border-color:#999;
  color:#999;
}

/* Footer */

html a[href="/introducing-memo"], html a[href="/profile/1F5GrRezwGokQhxmF4fYaBbbNrPPaeBqMm"], html a[href="/stats"] {
  background:#ccc;
}

